<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Marin Century</title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta property="og:title" content="Marin Century" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://marincentury.com/img/MC24_ChilenoJerseys.jpg"
    />
    <meta property="og:url" content="https://marincentury.com" />
    <meta
      property="og:description"
      content="The Marin Century is one of the premier centuries in Northern California, featuring iconic Bay Area routes and an amazing atmosphere."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-D8T7SPST03"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-D8T7SPST03");
  </script>
  <body>
    <section class="section">
      <div class="container">{% block content %} {% endblock content %}</div>
    </section>
  </body>
</html>
